* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    width: 400px;
    min-height: 200px;
    padding: 10px;

    background-color: #f9f9f9;
    box-shadow: 0 0 2px #959494;

    display: grid;
    row-gap: 15px;
}

article h3 {
    text-align: center;
}

ul {
    list-style: none;

    display: grid;
    grid-template-rows: 40px;
    grid-auto-rows: 40px;
    row-gap: 8px;
}

li {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 1px #959494;
}